@charset "utf-8";
/* CSS Document */

body,h1,h2,h3,h4,h5,h6 {font-family: "Literata", sans-serif;}
body, html {
    height: 100%;
    line-height: 1.8;
	}


/* Full height image header */
.bgimg-1 {
    background-position: center;
    background-size: cover;
    background-image:url(../images/header-webshop.jpg);
    min-height: 75%;
    
}

.bgimg-2 {
    background-position:center;
    background-size: cover;
    background-image: url("../images/footer 1200X300.jpg");
    background-position: bottom;
   
}


.vivi-button:hover{
    background-color:#fff;!important
    color:#485b0b;!important
    width:100%;
    text-align:left;
    padding:8px 16px;
    white-space:normal;}

h4{color:#79282b;}

.vivi-border-left {border-left:3px solid #fff!important}
.vivi-border-right{border-right:3px solid #fff!important}


.vividarkred
{color:#fff;background-color:#79282b;}

.vivibeige
{color:#79282b;background-color:#F2F2E9;}

.vivipink
{color:#79282b;background-color:#D5A0AE;}#EFC5C6;

.vivi-hoverable tbody tr:hover,.w3-ul.vivi-hoverable li:hover{
    background-color:#fff;
	color:#79282b;}
 
.w3-text-vividarkred,.w3-hover-text-vividarkred:hover{
    color:#79282b !important}

.w3-text-vivibeige,.w3-hover-text-vivibeige:hover{
    color:#F2F2E9 !important}
	
.mySlides {display:none;}
.w3-left, .w3-right, .w3-badge {cursor:pointer;}
.w3-badge {height:13px;width:13px;padding:0;}

 /* unvisited link */
a:link {
  text-decoration: none;;
}

/* visited link */
a:visited {
  text-decoration: none;
}

/* mouse over link */
a:hover {
  text-decoration: none;
}

/* selected link */
a:active {
  text-decoration: none;
} 

.thankyou{ 
text-shadow: 2px 2px 4px #485b0b;}